// パーツ・見出し


@use "../../global" as g;



// Level1
.lv1Heading {
  font-weight: bold;
  line-height: 1.5;
  display: grid;

  &__ja {
    margin-left: 0.2em;
    @include g.rem-fz(30);
    letter-spacing: .2em;
  }

  &__en {
    order: -1;
    margin-left: 0.2em;
    color: g.$mainColor;
    font-family: g.$Oswald;
    @include g.rem-fz(20);
    text-transform: uppercase;
    letter-spacing: .2em;
  }


  @media (width >= 768px) {

    &__ja {
      @include g.rem-fz(48);
    }

    &__en {
      @include g.rem-fz(24);
    }
  }
}




// Level2
.lv2Heading {
  @include g.rem-fz(24);
  font-weight: bold;
  line-height: 1.5;

  &::after {
    content: "";
    display: block;
    width: 50px;
    border-top: solid 1px g.$mainColor;
    margin-block-start: 20px;
  }

  &._center {
    text-align: center;

    &::after {
      margin-inline: auto;
    }
  }

  &._white {
    color: g.$whiteColor;

    &::after {
      border-top-color: g.$whiteColor;
    }
  }


  @media (width >= 768px) {
    @include g.rem-fz(28);
  }
}
