// パーツ・見出し


@use "../../global" as g;


// Level2
.lv2Heading {
  @include g.rem-fz(24);
  font-weight: bold;
  line-height: 1.5;

  &::after {
    content: "";
    display: block;
    width: 50px;
    border-top: solid 1px g.$mainColor;
    margin-block-start: 20px;
  }

  &._center {
    text-align: center;

    &::after {
      margin-inline: auto;
    }
  }

  &._white {
    color: g.$whiteColor;

    &::after {
      border-top-color: g.$whiteColor;
    }
  }


  @media (width >= 768px) {
    @include g.rem-fz(28);
  }
}
