// 共通・グローバルナビゲーション


// 変数、ミックスイン、関数
@use "../../global/" as g;



// ボタン
.gNavBtn {
  appearance: none;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: g.$mainColor;
  cursor: pointer;
  display: grid;
  // place-content: center;
  place-items: center;

  &__bar {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: g.$whiteColor;

    .is-gNavOpen & {
      background-color: transparent;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: #fff;
      transition: rotate .3s;
    }

    &::before {
      translate: 0 -8px;

      .is-gNavOpen & {
        translate: 0;
        rotate: 45deg;
      }
    }

    &::after {
      translate: 0 8px;

      .is-gNavOpen & {
        translate: 0;
        rotate: -45deg;
      }
    }
  }


  @media (width >= 992px) {
    display: none;
  }
}




// メニュー

// モバイル
@media (width <= 991px), print {
  .gNav {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: g.$whiteColor;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: height 0.5s;

    .is-gNavOpen & {
      height: calc(100% - 50px);
    }

    &__list {
      border-bottom: solid 1px #E7E7E7;
    }

    &__item {
      border-top: solid 1px #E7E7E7;
    }

    &__link {
      position: relative;
      display: block;
      padding: 15px 20px;
      color: g.$textColor;
      @include g.rem-fz(16);
      font-weight: 500;
      text-decoration-line: none;
      text-transform: uppercase;

      &:hover {
        color: g.$mainColor;
      }


      .top &._top,
      .service &._service,
      .products &._products,
      .company &._company,
      .recruit &._recruit,
      .contact &._contact {

        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 5px;
          background-color: g.$mainColor;
        }
      }
    }
  }
}


// PC
@media (width >= 992px), print {
  .gNav {

    &__list {
      display: flex;
    }

    &__link {
      display: block;
      padding: 1em;
      color: g.$textColor;
      @include g.rem-fz(18);
      font-weight: 500;
      text-decoration-line: none;
      text-transform: uppercase;

      @include g.hover-focus {
        color: g.$mainColor;
      }

      // CSSシグネチャ
      .top &._top,
      .service &._service,
      .products &._products,
      .company &._company,
      .recruit &._recruit,
      .contact &._contact {

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          background-color: g.$mainColor;
        }
      }
    }
  }
}




// ページがスクロールされないようにする。
html.is-gNavOpen,
html.is-gNavOpen body {
  height: 100%;
  overflow-y: hidden;
}
