<section class="contactArea">
  <h2 class="contactArea__heading lv2Heading _center">お問合わせ</h2>

  <p class="contactArea__text">下記フォームまたは電話番号へお問合わせください</p>

  <a class="contactArea__btn primaryBtn _center _white" href="./contact/">
    <i class="fa-solid fa-envelope" aria-hidden="true"></i>
    お問合わせフォーム
  </a>

  <p class="contactArea__tel">
    TEL<a class="contactArea__telNum" href="tel:03-0000-0000">03-0000-0000</a>
  </p>

  <p class="contactArea__text">受付時間：平日9:00〜18:00</p>
</section>
