<!DOCTYPE html>
<html lang="ja">


<%- include('./components/common/_head', { description: '株式会社 Grass Field の公式ウェブサイトです。' }) %>


<body class="top">

<main class="main">

  <div class="topHero">
    <div class="topHero__inner l-container">

      <p class="topHero__catch">
        キャッチコピーの<br>
        文章がはいりますキャッチコピーの文章が入ります
      </p>

      <figure class="topHero__figure">
        <img class="topHero__image" src="../images/top/mv_illust.svg" alt="" width="440" height="382">
      </figure>

    </div><!-- /.topHero__inner.l-container -->
  </div><!-- /.topHero -->


  <div class="l-cintainer">

    <section class="topSection">
      <h2 class="topSection__heading">Service</h2>

      <div class="topSection__cards l-col-pc3">
        <article class="serviceCard">
          <a class="serviceCard__link" href="#">
            <div class="serviceCard__body">
              <h3 class="sereviceCard__heading">サービス名1</h3>

              <p class="serviceCard__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

              <p class="serviceCard__btn">詳しく見る</p>
            </div><!-- /.serviceCard__body -->

            <figure class="serviceCard__figure">
              <img class="serviceCard__image" src="/src/images/service/ph_service01.jpg" alt="" width="800" height="500">
            </figure>
          </a>
        </article>

        <article class="serviceCard">
          <a class="serviceCard__link" href="#">
            <div class="serviceCard__body">
              <h3 class="sereviceCard__heading">サービス名2</h3>

              <p class="serviceCard__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

              <p class="serviceCard__btn">詳しく見る</p>
            </div><!-- /.serviceCard__body -->

            <figure class="serviceCard__figure">
              <img class="serviceCard__image" src="/src/images/service/ph_service02.jpg" alt="" width="800" height="500">
            </figure>
          </a>
        </article>

        <article class="serviceCard">
          <a class="serviceCard__link" href="#">
            <div class="serviceCard__body">
              <h3 class="sereviceCard__heading">サービス名3</h3>

              <p class="serviceCard__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

              <p class="serviceCard__btn">詳しく見る</p>
            </div><!-- /.serviceCard__body -->

            <figure class="serviceCard__figure">
              <img class="serviceCard__image" src="/src/images/service/ph_service03.jpg" alt="" width="800" height="500">
            </figure>
          </a>
        </article>
      </div><!-- /.topSection__cards.l-pc-col3 -->

      <a class="topSection__btn primaryBtn _center" href="./service/">事業紹介について</a>
    </section>


    <section class="topSection">
      <h2 class="topSection__heading">Pick Up</h2>

      <div class="topSection__cards l-col-pc4">
        <article class="productCard">
          <a class="productCard__link" href="#">
            <p class="productCard__title">
              <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>商品タイトル
            </p>

            <figure class="productCard__figure">
              <img class="productCard__image" src="/src/images/products/ph_dmy01.jpg" alt="" width="532" height="341">
            </figure>
          </a>
        </article>

        <article class="productCard">
          <a class="productCard__link" href="#">
            <p class="productCard__title">
              <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>商品タイトル
            </p>

            <figure class="productCard__figure">
              <img class="productCard__image" src="/src/images/products/ph_dmy01.jpg" alt="" width="532" height="341">
            </figure>
          </a>
        </article>

        <article class="productCard">
          <a class="productCard__link" href="#">
            <p class="productCard__title">
              <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>長い商品タイトルタイトル最大30文字までありえます
            </p>

            <figure class="productCard__figure">
              <img class="productCard__image" src="/src/images/products/ph_dmy01.jpg" alt="" width="532" height="341">
            </figure>
          </a>
        </article>

        <article class="productCard">
          <a class="productCard__link" href="#">
            <p class="productCard__title">
              <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>商品タイトル
            </p>

            <figure class="productCard__figure">
              <img class="productCard__image" src="/src/images/products/ph_dmy01.jpg" alt="" width="532" height="341">
            </figure>
          </a>
        </article>

      </div><!-- /.topSection__cards.l-pc-col3 -->

      <a class="topSection__btn primaryBtn _center" href="./products/">商品紹介について</a>
    </section>

  </div><!-- /.l-container -->

</main>


<%- include('./components/other/_contact') %>

<%- include('components/common/_footer') %>




</body>
</html>
