// エリア・お問合わせ


@use "../../../global/" as g;


.contactArea {
  padding: 50px 20px;
  background-color: g.$mainColor;
  color: g.$whiteColor;
  text-align: center;

  &__heading {

    + * {
      margin-top: 40px;
    }
  }

  &__text {
    @include g.rem-fz(14);
  }

  &__btn {
    margin-top: 40px;
  }

  &__tel {
    margin-top: 20px;
    font-family: g.$Oswald;
    @include g.rem-fz(24);
    font-weight: 500;

    &Num {
      margin-inline-start: 5px;
      color: g.$whiteColor;
      @include g.rem-fz(40);
      text-decoration-line: none;
    }
  }


  @media (width >= 768px) {
    padding: 80px 20px;

    &__text {
      @include g.rem-fz(16);
    }

    &__tel {
      @include g.rem-fz(30);

      &Num {
        @include g.rem-fz(48);
      }
    }
  }
}
