<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head', { pageTitle: '事業案内（SERVICE）', description: '株式会社Grass Field の事業内容のページです。' }) %>


<body class="service">

<%- include('../components/common/_header', { elementName: 'div', path: '../../' }) %>


<main class="main">

  <div class="pageHeader _lg _service">
    <h1 class="pageHeader__heading lv1Heading">
      <span class="lv1Heading__ja">事業案内</span>

      <span class="lv1Heading__en" lang="en">Service</span>
    </h1>
  </div><!-- /.pageHeader -->


  <div class="l-container">

    <div class="pageIntro">
      <p class="pageIntro__catch">
        <b>キャッチコピーが入ります。キャッチコピーが入ります。<br>
          キャッチコピーが入ります。</b>
      </p>

      <p class="pageIntro__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。</p>
    </div><!-- /.pageIntro -->


    <div class="serviceAlternates">
      <section class="serviceAlternate">
        <div class="serviceAlternate__body">
          <h2 class="serviceAlternate__heading">
            <span class="serviceAlternate__headingMain">事業タイトルが入ります</span>

            <span class="serviceAlternate__headingSub">サービス1</span>
          </h2>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <ul class="serviceAlternate__list l-col-pc4 _sm-gap">
            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage" src="../../images/service/dmy_thumb03.jpg" alt="" width="144" height="100">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage" src="../../images/service/dmy_thumb03.jpg" alt="" width="144" height="100">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage" src="../../images/service/dmy_thumb03.jpg" alt="" width="144" height="100">
            </li>
          </ul>
        </div><!-- /.serviceAlternate__body -->

        <figure class="serviceAlternate__figure">
          <img class="serviceAlternate__image" src="../../images/service/ph_service01.jpg" alt="">
        </figure>
      </section>


      <section class="serviceAlternate _reverse">
        <div class="serviceAlternate__body">
          <h2 class="serviceAlternate__heading">
            <span class="serviceAlternate__headingMain">事業タイトルが入ります</span>

            <span class="serviceAlternate__headingSub">サービス2</span>
          </h2>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <ul class="serviceAlternate__list l-col-pc4 _sm-gap">
            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage" src="../../images/service/dmy_thumb03.jpg" alt="" width="144" height="100">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage" src="../../images/service/dmy_thumb03.jpg" alt="" width="144" height="100">
            </li>
          </ul>
        </div><!-- /.serviceAlternate__body -->

        <figure class="serviceAlternate__figure">
          <img class="serviceAlternate__image" src="../../images/service/ph_service02.jpg" alt="" width="800" height="500">
        </figure>
      </section>


      <section class="serviceAlternate">
        <div class="serviceAlternate__body">
          <h2 class="serviceAlternate__heading">
            <span class="serviceAlternate__headingMain">事業タイトルが入ります</span>

            <span class="serviceAlternate__headingSub">サービス3</span>
          </h2>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <ul class="serviceAlternate__list l-col-pc4 _sm-gap">
            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage" src="../../images/service/dmy_thumb03.jpg" alt="" width="144" height="100">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage" src="../../images/service/dmy_thumb03.jpg" alt="" width="144" height="100">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage" src="../../images/service/dmy_thumb03.jpg" alt="" width="144" height="100">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage" src="../../images/service/dmy_thumb03.jpg" alt="" width="144" height="100">
            </li>
          </ul>
        </div><!-- /.serviceAlternate__body -->

        <figure class="serviceAlternate__figure">
          <img class="serviceAlternate__image" src="../../images/service/ph_service03.jpg" alt="" width="800" height="500">
        </figure>
      </section>
    </div><!-- /.serviceAlternates -->

  </div><!-- /.l-container -->

</main>


<%- include('../components/other/_contact.ejs') %>


<nav class="breadcrumb" aria-label="パンくずリスト">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">ホーム</a></li>

    <li class="breadcrumb__item"><a class="breadcrumb__link" href="/" aria-current="page">事業内容</a></li>
  </ol>
</nav>


<%- include('../components/common/_footer') %>




</body>
</html>
