<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head', { pageTitle: '事業案内（SERVICE）', description: '株式会社Grass Field の事業内容のページです。' }) %>


<body class="service">


<div class="test12">test12</div>





</body>
</html>
